body {
    font-size: 1.4em;
    background-image: url(/media/index_background.jpg);
    background-size:cover;
    color: #FFFFFF;
}

table {
	padding:2px 6px 4px 6px; 
	color: #ffffff;
	background-color: #000000;
	opacity: 0.45;
    filter: alpha(opacity=45);
}

table th:nth-child(3),
table td:nth-child(3),
table th:nth-child(6),
table td:nth-child(6),
table th:nth-child(9),
table td:nth-child(9) {
    border-right: 1px solid #E1E1E1;
}

th, td {
    padding: 12px 10px; 
    opacity: 1.0;
    filter: alpha(opacity=100);
}
